<div class="card text-center">
  <div class="card-header">
    Instructions to Book.
  </div>
  <div class="card-body">
    <h5 class="card-title"><b>Please</b> be sure to read instructions in full.</h5>
    <p class="card-text">NO DEPOSIT = NO APPOINTMENT !!</p>

    <p class="card-text">ALL APPOINTMENTS REQUIRE A  NON-REFUNDABLE / NON-TRANSFERABLE DEPOSIT. THE REMAINING BALANCE IS DUE IN CASH (deduct deposit from this amount and that is what is due on your appointment day) . IF PAYING VIA CASHAPP FOR SERVICE THERE IS A $5.00 fee (NO ACCEPTIONS!!!).</p>

    <p class="card-text">NO KIDS OR EXTRA PEOPLE ALLOWED,
    </p>

    <p class="card-text">MOBILE SERVICES ARE OFFERED <b>BUT</b> MUST BE REQUESTED <u>AND</u> APPROVED FIRST !! MOBILE FEE STARTS A $60 (local) AND MUST BE PAID TO CASH APP $AyeeLiss <b>PRIOR</b> TO APPOINTMENT! PROVIDE ADDRESS IN CASHAPP DESCRIPTION.</p>

    <p class="card-text">PLEASE COME WITH YOUR HAIR CLEAN, & DETANGLED, FREE OF ANY OILS OR PRODUCTS. DO N O T STRAIGHTEN YOUR HAIR. IT CAN HE BLOW DRIED OR AIR DRIED (air dry means washing the night before and two strand twisting your hair so it can be manageable to comb and part upon appointment time).</p>

    <p class="card-text">After 3 days of service, I am no longer responsible for any mishaps with your hair. Please address any concerns you may have before leaving my chair or within these 3 days. PLEASE keep in mind maintenance is essentially up to the client for ALL STYLES. There will be <b>NO</b> <u> REFUNDS</u>.</p>

    <p class="card-text">I HAVE THE RIGHT TO REFUSE ALL SERVICES.NO DISRESPECT TOLERATED</p>

    <p class="card-text"><b>ADDRESS:</b> will be sent once appointment is set the day prior to appointment date via text . Please make sure your phone number is updated on the site when booking.</p>

    <p class="card-text">CONTACT: 813-563-8835 for hair inquiries</p>

    <p class="card-text">PLEASE CONTACT IF YOU HAVE ANY QUESTIONS</p>

    <p class="card-text">If you have 1, 2A, 2B, 2C, or 3A hair . ALL LOC SERVICES IS NOT recommended for you. IF your hair can’t regularly hold a braid , boho locs / faux locs / mermaid locs / goddess locs / passion twist are not recommended for you. </p>

    <b>
      <h5 class="card-title important">**ATTENDANCE POLICY**</h5>
      <p class="card-text important">THERE IS A 15 MINUTE LATE FEE REQUIREMENT. Meaning : IF YOU ARE 15 minutes late to your appointment it is a $20 late fee if I am still able to take you after your appointment time. Your appointment will be cancelled <u>after</u> 20 minutes and you must reschedule for another date and time on the site. This is not fair to my clients who have scheduled appointments back to back , no exceptions..</p>

      <p class="card-title"><span class="important">THE SERVICE YOU BOOK FOR IS THE SERVICE YOU GET.</span> PLEASE consult with the stylist if you are unsure of what exact style you need to book for. I recommend sending a pic via text message to 813-563-8835 with any questions. There will be no change of service allowed in the the middle of services due to booking being scheduled back to back.</p>
    </b>

    <div class="check"><input type="checkbox" (change)="toggleEnable($event)"
      value="understand"><span>I confirm that I have read the instructions in full and I am now ready to book!</span>
    </div>
    <div class="check">
      <button>
      <a id="book" href="{{link}}" class="btn disabled-button">Book</a>
    </button>
  </div>
  <div class="card-footer text-muted">
    Thank you for your support! &hearts;
  </div>
</div>
