<div class="card text-center">
  <div class="card-header">
    Instructions to Book.
  </div>
  <div class="card-body">
    <h5 class="card-title"><b>Please</b> be sure to read instructions in full.</h5>
    <p class="card-text">NO DEPOSIT = NO APPOINTMENT !!</p>

    <p class="card-text">ALL APPOINTMENTS REQUIRE A $20 NON-REFUNDABLE AND NON-TRANSFERABLE DEPOSIT. THE REMAINING BALANCE IS DUE IN CASH . IF PAYING VIA CASHAPP FOR SERVICE THERE IS A 5.00$ fee (this fee does not apply with paying for hair package!).</p>

    <p class="card-text">NO KIDS OR EXTRA PEOPLE ALLOWED ( UNLESS UNDER AN APPROVED CIRCUMSTANCE COMMUNICATED PRIOR TO APPOINTMENT).
    </p>

    <p class="card-text">MOBILE SERVICES ARE OFFERED . MUST BE REQUESTED/ PAID TO CASH APP $AyeEllGee PRIOR TO APPOINTMENT! PROVIDE ADDRESS IN CASHAPP DESCRIPTION. MOBILE FEE STARTS AT 35$.</p>

    <p class="card-text">PLEASE COME WITH YOUR HAIR CLEAN, & DETANGLED, FREE OF ANY OILS OR PRODUCTS.</p>

    <p class="card-text">After 3 days of service, I am no longer responsible for any mishaps with your hair. Please address any concerns you may have before leaving my chair or within these 5 days. PLEASE keep in mind maintenance is essentially up to the client</p>

    <p class="card-text">I HAVE THE RIGHT TO REFUSE ALL SERVICES:NO DISRESPECT TOLERATED</p>

    <p class="card-text">ADDRESS: will be sent once appointment is set</p>

    <p class="card-text">CONTACT: 813-563-8835 for hair inquiries</p>

    <p class="card-text">PLEASE CONTACT IF YOU HAVE ANY QUESTIONS</p>

    <p class="card-text">If you have 1, 2A, 2B, 2C, 31 & 3B hair type this style isn’t recommended for you. Or your hair can’t regularly hold a braid , boho locs / faux locs / goddess locs are not recommended for you. </p>

    <b>
      <h5 class="card-title important">**LATE POLICY**</h5>
      <p class="card-text important">IF YOU ARE MORE THAN 15 minutes late to your appointment, your appointment will be cancelled . If I am still able to take you after the 15 minute Policy, there will be an additional 20$ late fee added to your service that must be paid, no exceptions.</p>

      <p class="card-title"><span class="important">THE SERVICE YOU BOOK FOR IS THE SERVICE YOU GET.</span> PLEASE consult with the stylist if you are unsure of what exact style you need to book for. I recommend sending a pic via Instagram or to 813-563-8835 with any questions. There will be no change of service allowed in the the middle of services due to booking being scheduled back to back.</p>
    </b>

    <div class="check"><input type="checkbox" (change)="toggleEnable($event)"
      value="understand"><span>I confirm that I have read the instructions in full and I am now ready to book!</span>
    </div>
    <div class="check">
      <button>
      <a id="book" href="{{link}}" class="btn disabled-button">Book</a>
    </button>
  </div>
  <div class="card-footer text-muted">
    Thank you for your support! &hearts;
  </div>
</div>
